{
  "presets": ["react", "es2015", "stage-0"],

  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-display-name",
    ["module-alias", [
      { "src": "./src/components", "expose": "components" },
      { "src": "./src/containers", "expose": "containers" },
      { "src": "./src/redux", "expose": "myredux" },
      { "src": "./src/helpers", "expose": "helpers" },
      { "src": "./src/utils", "expose": "utils" }
    ]]
  ],

  "env": {
    "development": {
      "plugins": [
        "typecheck",
        ["react-transform", {
            "transforms": [{
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
        }]
      ]
    }
  }
}
